.section-intro {
  padding: 0 0.5rem;
}
.title-intro {
  margin-top: 1rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.titleSpan {
  display: block;
  background: linear-gradient(to right, var(--color-prim), var(--color-sec));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.buttonLinkContainer {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 425px) {
	.titleSpan {
		text-wrap: nowrap;
	}
}