.section-intro {
  padding: 0 0.5rem;
}
.container-intro {
  place-content: center;
  height: 70vh;
}
/* .container-banner {
  width: 100%;
  height: 50vh;
  background: url('../../assets/teclado-banner.webp') no-repeat;
  background-size: cover;
  background-position: center;
} */
.title-intro {
  margin-top: 1rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
}
.titleSpan {
  display: block;
  background: linear-gradient(to right, var(--color-prim), var(--color-sec));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.buttonLinkContainer {
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 425px) {
	.titleSpan {
		text-wrap: nowrap;
	}
}